{% extends "layout.html" %} {% block title %}Students: Course Enrollments{%
endblock %} {% block main %}
<div class="course_enrollments">
  <div class="courses-section-title">
    <h2>Course Enrollment Section</h2>
  </div>
  <div class="card">
    <div class="card-courses-header card-header">Found Courses for you</div>
    <div class="card-body">
      {% if courses %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Faculty Staff</th>
            <th scope="col">Credits</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <th>{{ course['name'] }}</th>
            <th>{{ course['first_name'] }}&nbsp;{{ course['second_name'] }}</th>
            <th>{{ course['credit_hours'] }}</th>
            <th>
              <button
                type="button"
                class="Handle btn btn-danger"
                data-course-id="{{ course['id'] }}"
                data-course-name="{{ course['name'] }}"
                data-faculty-user-id="{{ course['faculty_staff_user_id'] }}"
                data-course-major="{{ course['major'] }}"
                data-semester="{{ course['semester'] }}"
                data-year="{{ course['year'] }}"
                data-credit-hours="{{ course['credit_hours'] }}"
                data-my-boolean="{{ course['enrolled'] }}"
              >
                <i class="fas fa-check"></i>
              </button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p id="noCoursesYet">No Courses for you Yet</p>
      {% endif %}
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    var targetNodes = document.querySelectorAll(".Handle");
    targetNodes.forEach((targetNode) => {
      var enrolled = targetNode.querySelector("i");
      if (targetNode.getAttribute("data-my-boolean") === "true") {
        enrolled.classList.remove("fa-check");
        enrolled.classList.add("fa-check-double");
        targetNode.style.backgroundColor = "green";
      }
    });

    get_numof_alerts();
  };

  var targetNodes = document.querySelectorAll(".Handle");
  targetNodes.forEach(function (targetNode) {
    var config = { attributes: true, attributeFilter: ["data-my-boolean"] };
    var callback = function (mutationList, observer) {
      for (let mutation of mutationList) {
        if (mutation.type === "attributes") {
          var enrolled = targetNode.querySelector("i");
          if (targetNode.getAttribute("data-my-boolean") === "false") {
            enrolled.classList.remove("fa-check-double");
            enrolled.classList.add("fa-check");
            targetNode.style.backgroundColor = "#DC3545";
          } else {
            enrolled.classList.remove("fa-check");
            enrolled.classList.add("fa-check-double");
            targetNode.style.backgroundColor = "green";
          }
        }
      }
    };

    var observer = new MutationObserver(callback);
    observer.observe(targetNode, config);
  });

  targetNodes.forEach((targetNode) => {
    targetNode.addEventListener("click", () => {
      if (targetNode.getAttribute("data-my-boolean") === "false") {
        fetch("/students/course_enrollments", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            course_id: targetNode.getAttribute("data-course-id"),
            course_name: targetNode.getAttribute("data-course-name"),
            faculty_staff_user_id: targetNode.getAttribute(
              "data-faculty-user-id"
            ),
            course_major: targetNode.getAttribute("data-course-major"),
            course_semester: targetNode.getAttribute("data-semester"),
            course_year: targetNode.getAttribute("data-year"),
            course_credit_hours: targetNode.getAttribute("data-credit-hours"),
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.url) {
              window.location.href = data.url;
            }
          });

        targetNode.setAttribute("data-my-boolean", "true");
      } else {
        fetch("/students/course_enrollments", {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            course_id: targetNode.getAttribute("data-course-id"),
            course_name: targetNode.getAttribute("data-course-name"),
            faculty_staff_user_id: targetNode.getAttribute(
              "data-faculty-user-id"
            ),
            course_major: targetNode.getAttribute("data-course-major"),
            course_semester: targetNode.getAttribute("data-semester"),
            course_year: targetNode.getAttribute("data-year"),
            course_credit_hours: targetNode.getAttribute("data-credit-hours"),
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.url) {
              window.location.href = data.url;
            }
          });

        targetNode.setAttribute("data-my-boolean", "false");
      }
    });
  });

  window.onbeforeunload = function () {
    observer.disconnect();
  };
</script>
{% endblock %}
